# Set defaults for all jobs
defaults: &defaults
 working_directory: ~/repo
 environment:
   TZ: /usr/share/zoneinfo/America/New_York
 docker:
   - image: circleci/node:carbon

version: 2
jobs:
 setup:
   <<: *defaults
   steps:
     - checkout
     # Download and cache dependencies
     - restore_cache:
         name: Restore cache
         keys:
         - cache-{{ .Branch }}-{{ checksum "package.json" }}
         # fallback to using the latest cache if no exact match is found
         - cache-{{ .Branch }}-
         - cache-
     - run:
         name: Install dependencies
         command: npm install
     - save_cache:
         name: Cache node_modules
         paths:
           - node_modules
         key: cache-{{ .Branch }}-{{ checksum "package.json" }}
     - persist_to_workspace:
         root: ~/repo
         paths:
           - node_modules
 test:linters:
   <<: *defaults
   steps:
     - checkout
     - attach_workspace:
         at: ~/repo
     - run:
         name: Run linters
         # Setting max warning to treat all eslint warning as errors that break
         # the build. This matches the behavior of npm build and allows us to
         # fail builds that would otherwise later break. Stylelint only breaks
         # the build on errors because we use verbose warnings to warn about
         # CSS that is not fully supported by our browser support matrix.
         command: |
           npm run lint-js -- --max-warnings=0 && npm run lint-css
workflows:
 version: 2
 setup-and-lint:
   jobs:
     - setup
     - test:linters:
         requires:
           - setup